<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion="!(bind.FileVersion.BlinkStickInterop.dll)" ?>
  
  <?if $(var.Platform) = x64 ?>
    <?define ProductName = "BlinkStick Interop (64 bit)" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
    <?define ProductName = "BlinkStick Interop" ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Agile Innovative Ltd" UpgradeCode="1D9CFB6E-A8E3-419F-A66C-BD4C522DC03F">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule='afterInstallFinalize' DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Main Libraries" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ApplicationShortcuts" />
      <ComponentGroupRef Id="ProgramRegistry" />
    </Feature>

    <!-- UI -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
    </UI>
    
    <!-- Stop previous version if running -->
    <Property Id="PREVIOUS_INSTALL_FOLDER" Value="No">
      <RegistrySearch Id="INSTALL_DIR_SEARCH" Key="Software\Agile Innovative Ltd\BlinkStickInterop" Name="InstallDir" Root="HKLM" Type="raw"/>
    </Property>

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="BlinkStick Interop" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="BlinkStickDotNet.dll" Guid="B6C091DA-2956-4E57-8D45-FB0B6B9DA813">
        <File Id="BlinkStickDotNet.dll" Source="SourceDir\BlinkStickDotNet.dll" />
			</Component>
      <Component Id="HidSharp.dll" Guid="A8C50E40-2463-47FC-8FB6-6C8F66AFC8AB">
        <File Id="HidSharp.dll" Source="SourceDir\HidSharp.dll" />
			</Component>
      <Component Id="LibUsbDotNet.dll" Guid="BF727EE6-7CBA-4BDC-AA0C-5F1A4C7C67BB">
        <File Id="LibUsbDotNet.dll" Source="SourceDir\LibUsbDotNet.dll" />
			</Component>
      <Component Id="BlinkStickInterop.chi" Guid="F5B809E8-B80C-4496-B4E4-C6FD88D4AAD9">
        <File Id="BlinkStickInterop.chi" Source="SourceDir\BlinkStickInterop.chi" />
			</Component>
      <Component Id="BlinkStickInterop.chm" Guid="E778FFF1-A195-4123-9488-D80C1F47FA75">
        <File Id="BlinkStickInterop.chm" Source="SourceDir\BlinkStickInterop.chm" />
			</Component>
      <ComponentRef Id="BlinkStickInterop.dll" />
      <ComponentRef Id="BlinkStickInterop.tlb" />
		</ComponentGroup>
	</Fragment>
  
	<Fragment>
    <ComponentGroup Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="C49A989E-CDD0-4CDA-8FDD-AE6B792554F5">
        <Shortcut Id="ApplicationHelpShortcut"
                  Name="Documentation"
                  Description="BlinkStick Interop documentation"
                  Target="[#BlinkStickInterop.chm]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        
        <util:InternetShortcut Id="OnlineDocumentationShortcut"
                  Name="Online Documentation"
                  Target="http://arvydas.github.io/BlinkStickInterop"/>
        
        <util:InternetShortcut Id="OnlineForumsShortcut"
                  Name="Support Forums"
                  Target="http://forums.blinkstick.com/"/>
        
        <util:InternetShortcut Id="OnlineContactShortcut"
                  Name="Contact"
                  Target="http://www.blinkstick.com/help/contact"/>
        
        <util:InternetShortcut Id="OnlineWebsiteShortcut"
                  Name="BlinkStick.com"
                  Target="http://www.blinkstick.com/"/>
        
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Agile Innovative Ltd\BlinkStickInterop" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="ProgramRegistry" Directory="INSTALLFOLDER">
      <Component Id="ProgramRegistryHKCU" Guid="108928F6-C8D8-46DF-A698-A2E2862A7CE1">
        <RegistryKey Id="RegInstallDir" Root="HKLM" Key="Software\Agile Innovative Ltd\BlinkStickInterop" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="InstalledVersion" Type="string" Value="$(var.ProductVersion)"/>
          <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLFOLDER]"/>
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>